  .notes__dashbord{
  flex: 1;
  background-color: #FFFFFF;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 0; /* 🔥 критично */
}

.dashbord__content{
  padding: 20px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0; /* 🔥 критично */
}

.dashbord__content-container{
  display: flex;
  flex-direction: column;
  min-height: 0; /* 🔥 критично */
}


@media (max-width: 768px) { 
  .notes__dashbord {
    order: 2;
    flex: none;          /* Отключаем растяжение flex-элемента */
    height: 500px;       /* Строго фиксированная высота */
    max-width: 600px; 
    margin-bottom: 10px;
    overflow-y: auto;    /* Включает вертикальный скролл, если контент не влезает */
    display: flex;
    flex-direction: column;    /* Отступ между карточками в колонке */
  }
  .dashbord__content{
    padding: 5px;
  }
  .dashbord__content,
  .dashbord__content-container {
    flex: 1;
    min-height: 0;
  }
}