.notes__chat {
  position: relative;
  flex: 1;
   min-height: 0; /* 🔥 критично */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 20px;
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


@media (max-width: 768px) {
  


  .notes__chat {
    order: 1;
    flex: none;          /* Отключаем растяжение flex-элемента */
    height: 600px;       /* Строго фиксированная высота */
    max-width: 600px; 
    margin-bottom: 10px;
    overflow-y: auto;    /* Включает вертикальный скролл, если контент не влезает */
    display: flex;
    flex-direction: column;
    
    background-color: transparent;
    border: none;
    border-radius: 0px;
  }
}