.chat__content {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  padding: 20px;
}

.chat__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Обёртка сообщения */
.message__wrapper {
  display: flex;
  width: 100%;
}

/* Пользователь справа */
.message__wrapper.user {
  justify-content: flex-end;
  text-align: inherit;
  line-height: 1.2;
}

/* ИИ слева */
.message__wrapper.model {
  justify-content: flex-start;
}

/* Сам bubble */
.message {
  padding: 12px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  width: fit-content;
  max-width: 90%;
  word-wrap: break-word;
}
.message__wrapper.user .message{
  max-width: 70%;
}
.message__wrapper.model .message{
  max-width: 100%;
}


/* Цвета */
.message__wrapper.user .message {
  background: linear-gradient(90deg, #ff6b6b, #6c5ce7);
  color: white;
  font-size: 16px;
}

.message__wrapper.model .message {
  background: #ececec;
  color: #464444;
  font-size: 16px;
  line-height: 200%;
}



.chat__content::-webkit-scrollbar {
  width: 5px;
}

.chat__content::-webkit-scrollbar-track {
  background: transparent;
}

.chat__content::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
}

.chat__content::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}



.chat__preloader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px 0px 120px 50px;
  display: flex;
  justify-content: start;
  align-items: end;

  opacity: 1;
  visibility: visible;
  transform: translateY(0px);

  transition-duration: 1s;
}
.chat__preloader.hidden{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100px);
}
.chat__preloader-container h3{
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  background: linear-gradient(90deg, #ff6b6b, #6c5ce7);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}
.chat__preloader-container h4{
  color: #b3b3b3;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
}


@media (max-width: 768px) {
  .chat__content{
    padding: 5px;
  }
  .message{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  .chat__preloader{
    padding: 0px 0px 120px 20px;
  }
  .message__wrapper.model .message{
    background-color: transparent;
  }

  .chat__content::-webkit-scrollbar {
    width: 2px;
}

}