/* Область контента */
.notes__content{
  height: 100%;
}

.notes__content__container{
    gap: 20px;
    height: 100%;
}

@media (max-width: 768px){
  .notes__content{
    height: 100vh;
  }
  .notes__content__container {
    height: 100vh; /* Контейнер подстраивается под содержимое */
  }
}


